<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test preserve-order="true" name="Test">
    <classes>
      <class name="testcases.RokomariHomePageTest"/>
      <class name="testcases.SignUpUsingGoogleTest"/>
      <class name="testcases.SelectProductTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
